@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  --primary-color: #040507;
  --secondary-color: #f7ad36;
  --body-fonts: 'Montserrat', sans-serif;
  --title-fonts: 'Merienda', cursive;
  --font-size-base: 1rem;
  --title-font-size: 1.5rem;
  --line-height-base: 1.5;
  --font-bold: 700;
}

html {
  font-family: var(--body-fonts);
  font-size: var(--font-size-base);
}

body {
  font-family: var(--body-fonts);
  font-size: var(--font-size-base);
}

h1 {
  font-family: var(--title-fonts);
  font-size: var(--title-font-size);
}

p {
  font-family: var(--body-fonts);
  font-size: var(--font-size-base);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

@layer base {
  .menuLinks > a:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
  }

  .defaultTextlinkColor > a:hover {
    color: var(--secondary-color);
    transition: all 0.3s ease-out;
  }

  /* Profile Image Responsiveness */
  .fixed-ratio-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    @apply md:pb-[40%];
    @apply lg:pb-[40%];
    @apply lg:w-[60%];
  }

  .fixed-ratio-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .actionBtnReg {
    background: var(--primary-color);
    color: #fff;
    font-weight: var(--font-bold);
    font-family: var(--body-fonts);

    &:hover {
      background: var(--secondary-color);
      color: var(--primary-color);
    }
  }

  .actionBtnDiff {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: var(--font-bold);
    font-family: var(--body-fonts);

    &:hover {
      background: var(--primary-color);
      color: #fff;
    }
  }
}
