@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-bg-color: #fff;
  --site-font: "Work Sans", sans-serif;
  --site-logo-font: "Permanent Marker", cursive;
  --site-section-title: "Pacifico", cursive;
  scroll-behavior: smooth;
}

body {
  background-color: var(--site-bg-color);
  font-family: var(--site-font);
}

p {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem; /* 28px */
}

section {
  @apply container px-4 mx-auto;
}

.section-padding {
  @apply mb-10;
}

.section-title {
  font-family: var(--site-section-title);
  @apply mt-5 mb-10 p-5 text-center text-5xl font-bold leading-[60px] md:leading-[0];
}

/* Header Area */
.header-area {
  @apply flex items-center justify-between mt-3 md:mt-0;
}

.site-logo {
  font-family: var(--site-logo-font);
  @apply text-3xl cursor-pointer;
}

.menu-and-theme {
  @apply flex items-center justify-between gap-5;
}

.nav-menu {
  @apply hidden md:block;
}

.nav-items {
  @apply flex items-center justify-between gap-4 my-4 text-xl font-semibold;
}

.nav-items > li > a {
  @apply no-underline p-3 rounded-md hover:bg-[#000] hover:text-[#fff] transition-all cursor-pointer;
}

.header-icons {
  @apply flex items-center justify-between gap-5;
}

.mobile-menu-bar {
  @apply hidden;
}

/* Hero Content */
.hero-content {
  @apply flex flex-col-reverse md:flex-row md:items-start lg:items-center justify-between gap-5;
}

.profile-image {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  @apply w-full h-full rounded-2xl bg-white;
}

.stack-btn {
  @apply bg-transparent text-black hover:text-[#3c3c3c] font-semibold py-2 px-4 border border-black rounded-lg;
}

.main-title {
  @apply text-[3rem] font-bold mb-5 leading-[4rem];
}

.focus-title {
  @apply bg-orange-500 text-white p-1;
}

.intro-para {
  @apply text-lg;
}

.social-connect-btn {
  @apply flex items-center justify-start gap-5 mt-5;
}

.custom-connect-btn {
  @apply px-8 py-4 text-black border-[2px] shadow-md rounded-md text-xl;
}

.custom-connect-btn-linkedin {
  @apply px-8 py-4 bg-black text-white border-[2px] shadow-md rounded-md text-xl;
}

/* Skills */
.stack-title {
  @apply text-2xl font-semibold;
}

.skill-stacks {
  @apply flex flex-col flex-wrap md:flex-nowrap items-start justify-between gap-4;
}

.single-stacks {
  @apply flex flex-wrap md:flex-nowrap justify-start items-center md:justify-center gap-3;
}

/* Footer */
.site-footer {
  @apply mt-10 bg-black h-[200px] text-white py-10;
}

.footer-section {
  @apply flex flex-col items-center justify-between gap-y-4;
}

.footer-social-media {
  @apply flex items-center justify-between gap-5;
}

/* All exp area */
.all-exp-area {
  @apply flex flex-col md:flex-row items-center justify-center gap-0 md:gap-5 mb-10;
}

.custom-card-for-exp {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  @apply w-full h-full rounded-2xl bg-white p-4;
}

/* Gallary */
.gallary-card {
  @apply flex flex-col items-center justify-center gap-5 cursor-pointer;
}

.project-intro-text {
  @apply text-lg mt-4;
}

.grallary-section-card {
  @apply flex flex-wrap md:flex-nowrap items-start justify-between gap-5;
}

/* Contact us */
.contat-form {
  @apply mt-5 w-full flex flex-col items-center justify-center gap-5;
}

.contact-svg {
  height: 23rem;
  margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 {
  animation-delay: 100ms;
}
#star3 {
  animation-delay: 500ms;
}
#star4 {
  animation-delay: 700ms;
}
#star5 {
  animation-delay: 300ms;
}
#star6 {
  animation-delay: 200ms;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

form {
  min-width: 25rem;
}

.title {
  font-family: "Pacifico", cursive;
  color: #212529;
  font-size: 2.5rem;
}

.form-control {
  background-color: #f2f6f8;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.form-control.thick {
  height: 3.3rem;
  padding: 0.5rem 3.5rem;
}

.form-control:focus {
  background-color: #f2f6f8;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.message .form-control {
  padding: 0.5rem 1.8rem;
}

::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #454646;
  position: relative;
  left: 0;
}

input,
textarea {
  font-family: var(--site-font);
  color: #212529;
  font-size: 1.1rem;
}

.icon {
  color: #57565c;
  height: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.1rem;
}

.btn.btn-primary {
  font-family: var(--site-font);
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

textarea#formMessage {
  margin: 8px 0;
  width: 100%;
}

/* Media Query */
@media not all and (min-width: 640px) {
  .main-title {
    font-size: 2rem;
    line-height: 2.85rem;
  }

  .section-title {
    margin: 1rem 0;
    font-size: 2rem;
    line-height: 42px;
  }

  .contact-svg {
    height: 9rem;
    margin-right: 0;
  }

  form {
    min-width: 19rem;
  }
}
