@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-color: #d3d3d3;
  --site-font: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: var(--site-color);
  font-family: var(--site-font);
}
